<!DOCTYPE html>
<html>
<head>
    <style>
        nav {
            background-color: blue;
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        li {
            list-style: none;
            padding: 10px;
        }


    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Logo</li>
                <li>Home</li>
                <li>About</li>
                <li>Listings</li>
            </ul>
            <ul>
                <li>Register</li>
                <li>Login</li>
            </ul>
        </nav>
    </header>
</body>
</html>