{% extends 'base.html' %}

{% block content %}
<section id="search">
    <div id="searchbox">
        <div>
            <h1>Property Searching Just Got Easy</h1>
            <p>Lorem ipsun machin tr</p>
        </div>
        <div class="form">
            <form>
                <input type="text" placeholder="Keyword (Pool, Garage, etc)" name="keyword"/>
                <input type="text" placeholder="City" name="city"/>
                <select name="district">
                    <option name="port-louis">Port Louis</option>
                    <option name="Flacq">Flacq</option>
                </select>
                <select name="bedroom">
                    <option name="0">Bedroom (all)</option>
                    <option name="1">1</option>
                    <option name="2">2</option>
                </select>
                <input type="number" placeholder="Max Price" name="maxprice">
                <button name="submit" type="submit">Submit</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}